In [57]:
#load dependencies
import pandas as pd

In [58]:
# Read in data to dataframe
df = pd.read_csv('sample_orgs.csv')

In [59]:
# Check sample data
df.head()

,org_string,scheme,id,legalname,status
0,001 INSPIRATION LIMITED,GB-COH,6589669,001 INSPIRATION LIMITED,active
1,001 INSPIRATION LTD,GB-COH,6589669,001 INSPIRATION LIMITED,active
2,001 TAXIS,GB-COH,8080099,001 TAXIS (OXFORD) LIMITED,active
3,001 TAXIS (OXFORD) LIMITED,GB-COH,8080099,001 TAXIS (OXFORD) LIMITED,active
4,00409775 LIMITED,GB-COH,409775,00409775 LIMITED,liquidation

In [60]:
probability_warning_threshold = 0.8

In [61]:
print(len(df[df.columns[0]]))

2000

In [62]:
df[df.columns[0]][1527]

'BOLSOVER DISTRICT YOUTH WORK'

In [63]:
import requests
org_string = str(df[df.columns[0]][1527])
# print(org_string)
url = r'http://localhost:8080/predict?q=' + org_string
r = requests.get(url)
r.text

'Registered charity'

In [65]:
def classify_org(org_string):
        url = r'http://localhost:8080/predict?q=' + str(org_string)
        r = requests.get(url)
        orgtype = r.text
        return orgtype

In [67]:
# df['Orgtype'] = df.apply(classify_org, axis=1)
df['Org_type'] = df['org_string'].apply(classify_org)

In [69]:
df['Org_type'].unique()

array(['Private Limited Company', 'Company Limited by Guarantee',
       'Community Interest Company', 'Registered Society',
       'Registered charity', 'Individual', 'Government', 'School',
       'Community Amateur Sports Club', 'Local Authority',
       'Royal Charter Company', 'Parish or Town Council'], dtype=object)