In [1]:
#load dependencies
import pandas as pd

In [2]:
# Read in data to dataframe
df = pd.read_csv('sample_orgs.csv')

In [3]:
# Check sample data
df.head()

,org_string,scheme,id,legalname,status
0,001 INSPIRATION LIMITED,GB-COH,6589669,001 INSPIRATION LIMITED,active
1,001 INSPIRATION LTD,GB-COH,6589669,001 INSPIRATION LIMITED,active
2,001 TAXIS,GB-COH,8080099,001 TAXIS (OXFORD) LIMITED,active
3,001 TAXIS (OXFORD) LIMITED,GB-COH,8080099,001 TAXIS (OXFORD) LIMITED,active
4,00409775 LIMITED,GB-COH,409775,00409775 LIMITED,liquidation

In [4]:
probability_warning_threshold = 0.8

In [5]:
print(len(df[df.columns[0]]))

2000

In [6]:
df[df.columns[0]][0]

'001 INSPIRATION LIMITED'

In [10]:
import requests
org_string = str(df[df.columns[0]][1])
# print(org_string)
url = r'http://localhost:8080/predict?q=' + org_string
r = requests.get(url)
r.text

'Private Limited Company'

In [11]:
adj_df['orgtype'] = Series.()

In [25]:
 def classify_org(data):
    for i in range(0, len(df[df.columns[0]])):
        org_string = str(df[df.columns[0]][i])
        url = r'http://localhost:8080/predict?q=' + org_string
        r = requests.get(url)
        df['type'] = r.text

In [ ]:
df.apply(classify_org, axis=1)